<!-- wp:group {"tagName":"header","className":"border-b"} -->
<header class="border-b">
  <!-- wp:group {"className":"mx-auto max-w-7xl flex items-center justify-between gap-x-8 px-4 py-4 sm:px-6 lg:px-8"} -->
  <div
    class="mx-auto max-w-7xl flex items-center justify-between gap-x-8 px-4 py-4 sm:px-6 lg:px-8"
  >
    <!-- wp:site-logo /-->
    <!-- wp:navigation {"overlayMenu":"modal"} /-->
    <!-- wp:group {"className":"flex gap-2"} -->
    <div class="flex gap-2">
      <a href="/donate" class="btn text-sm">Donate</a>
      <a href="/sign-up" class="btn text-sm">Sign Up</a>
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</header>
<!-- /wp:group -->
