<!-- wp:group {"tagName":"header","className":"border-b"} -->
<header class="border-b">
  <!-- wp:group {"className":"mx-auto max-w-7xl flex items-center justify-between gap-x-8 px-4 py-4 sm:px-6 lg:px-8"} -->
  <div
    class="mx-auto max-w-7xl flex items-center justify-between gap-x-8 px-4 py-4 sm:px-6 lg:px-8"
  >
    <!-- wp:site-logo /-->
    <!-- wp:group {"className":"flex items-center gap-x-4"} -->
    <div class="flex items-center gap-x-4">
      <!-- wp:navigation {"overlayMenu":"modal"} /-->
      <!-- wp:search {"label":"Search","showLabel":false,"className":"hidden sm:block"} /-->
      <!-- wp:buttons {"className":"hidden sm:flex gap-x-2"} -->
      <div class="wp-block-buttons hidden sm:flex gap-x-2">
        <!-- wp:button {"className":"btn text-sm"} -->
        <div class="wp-block-button btn text-sm">
          <a class="wp-block-button__link btn text-sm" href="/donate/"
            >Donate</a
          >
        </div>
        <!-- /wp:button -->
        <!-- wp:button {"className":"btn text-sm"} -->
        <div class="wp-block-button btn text-sm">
          <a class="wp-block-button__link btn text-sm" href="/sign-up/"
            >Sign Up</a
          >
        </div>
        <!-- /wp:button -->
      </div>
      <!-- /wp:buttons -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</header>
<!-- /wp:group -->
